<ion-popover-view style="width: 210px; height: 220px">
  <ion-content>
    <div class="row popoverRow">
      <div class="col col-center popoverCol">
        <button class="button popoverButton button-positive" ng-click="setTheme('positive')"></button>
      </div>
      <div class="col col-center popoverCol">
        <button class="button popoverButton button-calm" ng-click="setTheme('calm')"></button>
      </div>
      <div class="col col-center popoverCol">
        <button class="button popoverButton button-balanced" ng-click="setTheme('balanced')"></button>
      </div>
    </div>
    <div class="row popoverRow">
      <div class="col col-center popoverCol">
        <button class="button popoverButton button-energized" ng-click="setTheme('energized')"></button>
      </div>
      <div class="col col-center popoverCol">
        <button class="button popoverButton button-assertive" ng-click="setTheme('assertive')"></button>
      </div>
      <div class="col col-center popoverCol">
        <button class="button popoverButton button-royal" ng-click="setTheme('royal')"></button>
      </div>
    </div>
    <div class="row popoverRow">
      <div class="col col-center popoverCol">
        <button class="button popoverButton button-dark" ng-click="setTheme('dark')"></button>
      </div>
      <div class="col col-center popoverCol">
      </div>
      <div class="col col-center popoverCol">
      </div>
    </div>
  </ion-content>
</ion-popover-view>