<div class="modal" style="background-color: transparent; margin: 0;">
  <div class="goalFlipper" ng-class="{flipped: showFlipped}">
    <div class="goalFront">
      <ion-header-bar align-title="left">
        <h1 class="title">{{currentGoal.title}}</h1>
        <div style="position: absolute; top: 0px; right: 5px; min-width: 80px; text-align: right;">
          <button class="button button-small button-clear button-dark" ng-click="toggleEdit();">
            <i class="icon ion-edit"></i>
          </button>
          <button class="button button-small button-clear button-dark" ng-click="closeGoalModal();">
            <i class="icon ion-close"></i>
          </button>
        </div>
      </ion-header-bar>
      <ion-content style="padding: 10px;">
        <div class="row">
          <div class="col">{{currentDate|dateString}}</div>
        </div>

        <div class="row">
          <div class="col col-center" style="text-align: left;">
            <button class="button button-small button-clear button-dark" ng-click="prevMonth()">
              <i class="icon ion-chevron-left"></i>
            </button>
          </div>
          <div class="col col-75">
            <table style="width: 100%;">
              <tr ng-repeat="week in [0, 1, 2, 3, 4, 5]">
                <td ng-repeat="day in generateCalendar(week)" style="text-align: center;">
                  <span ng-class="day|calendarDayStyle:currentDate">{{day|calendarDay:currentDate}}</span>
                </td>
              </tr>
            </table>
          </div>
          <div class="col col-center" style="text-align: right;">
            <button class="button button-small button-clear button-dark" ng-click="nextMonth()">
              <i class="icon ion-chevron-right"></i>
            </button>
          </div>
        </div>

        <div class="row">
          <div class="col">
            Longest Chain
          </div>
          <div class="col">
            Current Chain
          </div>
          <div class="col">
            Until Target Date
          </div>
        </div>
      </ion-content>
    </div>
    <div class="goalBack stable-bg" ng-style="backStyle">
      <ion-header-bar class="bar-stable" align-title="left">
        <h1 class="title">Edit Goal</h1>
        <div style="position: absolute; top: 0px; right: 5px; min-width: 80px; text-align: right;">
          <button class="button button-small button-clear button-dark" ng-click="toggleEdit();">
            <i class="icon ion-edit"></i>
          </button>
          <button class="button button-small button-clear button-dark" ng-click="closeGoalModal();">
            <i class="icon ion-close"></i>
          </button>
        </div>
      </ion-header-bar>
      <ion-content style="padding: 10px;" overflow-scroll="true">
        <form name="addGoalForm">
          <div class="row item addItem">
            <div class="col col-center">
              Goal
            </div>
            <div class="col col-center">
              <input type="text" placeholder="Goal Title" required style="text-align: right;" />
            </div>
          </div>
          <div class="row item addItem">
            <div class="col col-center">
              Target Date
            </div>
            <div class="col col-center" style="text-align: right;">
              <span></span>
              <i class="icon button-positive ion-calendar"></i>
            </div>
          </div>
          <div class="row item addItem">
            <div class="col col-center">
              Icon
            </div>
            <div class="col col-center" style="text-align: right;">
              <i class="icon"></i>
              <i class="icon ion-arrow-down-b"></i>
            </div>
          </div>
          <div class="row item addItem">
            <div class="col col-center">
              Color
            </div>
            <div class="col col-center" style="text-align: right;">
              <i class="icon ion-record"></i>
              <i class="icon ion-arrow-down-b"></i>
            </div>
          </div>
        </form>
      </ion-content>
    </div>
  </div>
</div>