<div class="modal" style="background-color: transparent; margin: 0;">
  <div class="goalFlipper" ng-class="{flipped: showFlipped}">
    <div class="goalFront">
      <ion-header-bar class="barRoundedTop" align-title="left">
        <h1 class="modalTitle title">{{currentGoal.title}}</h1>
        <div style="position: absolute; top: 0px; right: 5px; min-width: 80px; text-align: right;">
          <button class="button button-small button-clear button-dark" ng-click="toggleEdit();">
            <i class="icon ion-edit"></i>
          </button>
          <button class="button button-small button-clear button-dark" ng-click="closeGoalModal();">
            <i class="icon ion-close"></i>
          </button>
        </div>
      </ion-header-bar>
      <ion-content scroll="false" style="padding: 10px;">
        <div class="row">
          <div class="col">{{currentMonth.toDate()|date: "MMMM yyyy"}}</div>
        </div>

        <div style="height: 15px;"></div>

        <ion-scroll class="calendarScroll" delegate-handle="calendar" scrollbar-y="false" has-bouncing="true">
          <table style="width: 100%; color: grey;">
            <tr ng-repeat="week in displayWeeks">
              <td ng-repeat="day in getDaysOfWeek(week)" style="text-align: center; height: 35px;">
                <div id="{{dayTag(week, $index)}}" class="calendarDay" ng-class="dayClass(week, $index)" ng-hide="isCalendarOverflow(day, $parent)">
                  {{day}}
                </div>
              </td>
            </tr>
          </table>
        </ion-scroll>

        <div style="height: 15px;"></div>

        <div class="row">
          <div class="col metric">
            <span class="metricsLabel">{{longestChain}}</span><br />
            <span class="metricsSubLabel">Longest Chain</span>
          </div>
          <div class="col metric">
            <span class="metricsLabel">{{currentChainLength}}</span><br />
            <span class="metricsSubLabel">Current Chain</span>
          </div>
          <div class="col metric">
            <span class="metricsLabel">{{tillTargetDate}}</span><br />
            <span class="metricsSubLabel">Days to Target</span>
          </div>
        </div>
      </ion-content>
    </div>
    <div class="goalBack stable-bg" ng-style="backStyle">
      <ion-header-bar class="barRoundedTop bar-stable" align-title="left">
        <h1 class="modalTitle title">Edit Goal</h1>
        <div style="position: absolute; top: 0px; right: 5px; min-width: 80px; text-align: right;">
          <button class="button button-small button-clear button-dark" ng-click="toggleEdit();">
            <i class="icon ion-edit"></i>
          </button>
          <button class="button button-small button-clear button-dark" ng-click="closeGoalModal();">
            <i class="icon ion-close"></i>
          </button>
        </div>
      </ion-header-bar>
      <ion-content style="padding: 10px;" overflow-scroll="true">
        <oneup-add-edit-form></oneup-add-edit-form>
      </ion-content>
    </div>
  </div>
</div>