<!-- 
ion-arrow-right-b
ion-flag
ion-heart
ion-settings
ion-document-text
ion-map
ion-pie-graph
ion-aperture
ion-iphone
ion-code
ion-bug
ion-game-controller-b
ion-videocamera
ion-music-note
ion-cash
ion-trophy
ion-university
ion-beaker
ion-lightbulb
ion-no-smoking 
-->

<ion-popover-view style="width: 280px; height: 360px">
  <ion-content>
    <div class="row popoverRow">
      <div class="col col-center popoverCol">
        <button class="button button-clear ion-arrow-right-c" ng-click="setIcon('ion-arrow-right-c')"></button>
      </div>
      <div class="col col-center popoverCol">
        <button class="button button-clear ion-heart" ng-click="setIcon('ion-heart')"></button>
      </div>
      <div class="col col-center popoverCol">
        <button class="button button-clear ion-lightbulb" ng-click="setIcon('ion-lightbulb')"></button>
      </div>
      <div class="col col-center popoverCol">
        <button class="button button-clear ion-beaker" ng-click="setIcon('ion-beaker')"></button>
      </div>
    </div>
    <div class="row popoverRow">
      <div class="col col-center popoverCol">
        <button class="button button-clear ion-document-text" ng-click="setIcon('ion-document-text')"></button>
      </div>
      <div class="col col-center popoverCol">
        <button class="button button-clear ion-pie-graph" ng-click="setIcon('ion-pie-graph')"></button>
      </div>
      <div class="col col-center popoverCol">
        <button class="button button-clear ion-map" ng-click="setIcon('ion-map')"></button>
      </div>
      <div class="col col-center popoverCol">
        <button class="button button-clear ion-settings" ng-click="setIcon('ion-settings')"></button>
      </div>
    </div>
    <div class="row popoverRow">
      <div class="col col-center popoverCol">
        <button class="button button-clear ion-iphone" ng-click="setIcon('ion-iphone')"></button>
      </div>
      <div class="col col-center popoverCol">
        <button class="button button-clear ion-code" ng-click="setIcon('ion-code')"></button>
      </div>
      <div class="col col-center popoverCol">
        <button class="button button-clear ion-bug" ng-click="setIcon('ion-bug')"></button>
      </div>
      <div class="col col-center popoverCol">
        <button class="button button-clear ion-game-controller-b" ng-click="setIcon('ion-game-controller-b')"></button>
      </div>
    </div>
    <div class="row popoverRow">
      <div class="col col-center popoverCol">
        <button class="button button-clear ion-aperture" ng-click="setIcon('ion-aperture')"></button>
      </div>
      <div class="col col-center popoverCol">
        <button class="button button-clear ion-videocamera" ng-click="setIcon('ion-videocamera')"></button>
      </div>
      <div class="col col-center popoverCol">
        <button class="button button-clear ion-music-note" ng-click="setIcon('ion-music-note')"></button>
      </div>
      <div class="col col-center popoverCol">
        <button class="button button-clear ion-flag" ng-click="setIcon('ion-flag')"></button>
      </div>
    </div>
    <div class="row popoverRow">
      <div class="col col-center popoverCol">
        <button class="button button-clear ion-trophy" ng-click="setIcon('ion-trophy')"></button>
      </div>
      <div class="col col-center popoverCol">
        <button class="button button-clear ion-university" ng-click="setIcon('ion-university')"></button>
      </div>
      <div class="col col-center popoverCol">
        <button class="button button-clear ion-cash" ng-click="setIcon('ion-cash')"></button>
      </div>
      <div class="col col-center popoverCol">
        <button class="button button-clear ion-no-smoking" ng-click="setIcon('ion-no-smoking')"></button>
      </div>
    </div>
  </ion-content>
</ion-popover-view>