
/* main page ------------------------------------------------------------ */

.goalIcon {
  position: absolute; 
  top: 0px; 
  font-size: 40px; 
  text-align: center; 
  background-color: #fff;
}

.checkTodayButton {
	min-width: 80px; 
	min-height: 80px; 
	border-radius: 40px;
}


/* goal page ------------------------------------------------------------ */

.metric {
  text-align: center;
  margin: 5px;
}

.metricsLabel {
  font-family: OpenSansSemibold;
  font-size: 40px;
  line-height: 36px;
}

.metricsSubLabel {
  font-family: OpenSansCondensedLight;
  font-size: 14px;
  line-height: 30px;
}


/* goal page: calendar view ------------------------------------------------------------ */

.calendarScroll {
  height: 220px;
}

.calendarScroll:before {
  content: '';
  width: 100%;
  height: 15px;
  z-index: 10;
  position: absolute;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1),  rgba(255, 255, 255, 0));
}

.calendarScroll:after {
  content: '';
  width: 100%;
  height: 15px;
  z-index: 10;
  position: absolute;
  bottom: 0px;
  background: linear-gradient(to top, rgba(255, 255, 255, 1),  rgba(255, 255, 255, 0));
}

.activeMonth {
	color: #000;
}

.calendarDay {
  margin: 0 auto;
  max-width: 26px;
  min-width: 26px;
  min-height: 26px;
  text-align: center;
  line-height: 26px;
  border-radius: 13px;
}

.startDayChain, .middleDayChain, .endDayChain, .singleDayChain {
  position: relative;
  color: #fff;
}

.startDayChain:before {
  content: '';
  line-height: 0px;
  position: absolute;
  z-index: -1;
  top: 12px;
  left: 0px;
  width: 39px;
  height: 2px;
}

.middleDayChain:before {
  content: '';
  line-height: 0px;
  position: absolute;
  z-index: -1;
  top: 12px;
  left: -13px;
  width: 52px;
  height: 2px;
}

.endDayChain:before {
  content: '';
  line-height: 0px;
  position: absolute;
  z-index: -1;
  top: 12px;
  left: -13px;
  width: 39px;
  height: 2px;
  background-color: silver;
}

.singleDayChain:before {
  content: '';
  line-height: 0px;
  position: absolute;
  z-index: -1;
  top: 12px;
  left: 0px;
  width: 26px;
  height: 2px;
}


/* goal page: view/edit goal flip ------------------------------------------------------------ */

.goalFlipper {
  position: absolute;
  min-height: 90%;
  min-width: 90%;
  top: 5%;
  left: 5%;
  overflow: visible;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flipped {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.modal {
  -webkit-perspective: 1000;
  perspective: 1000;
}

.goalFront, .goalBack {
  position: absolute;
  top: 0px;
  left: 0px;
  min-height: 100%;
  min-width: 100%;
  border-radius: 4px;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.goalFront {
  background-color: #fff;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  z-index: 2;
}

.goalBack {
  /* goalBack starts as front facing to allow browser to prerender div before flip animation */
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  display: none;
}


/* add/edit goal ------------------------------------------------------------ */

.addItem {
  height: 70px;
  padding: 10px !important;
}

.popoverRow {
  height: 70px;
}

.popoverCol {
  text-align: center;
}

.popoverButton {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.iconPicker {
  font-size: 35px;
}

/* utility ------------------------------------------------------------ */

.modalTitle {
  background-color: transparent;
  font-family: OpenSansSemibold;
  font-size: 20px !important;
}

.positive-before-bg:before {
  background-color: #4a87ee; 
}

.calm-before-bg:before {
  background-color: #43cee6; 
}

.assertive-before-bg:before {
  background-color: #ef4e3a; 
}

.balanced-before-bg:before {
  background-color: #66cc33; 
}

.energized-before-bg:before {
  background-color: #f0b840; 
}

.royal-before-bg:before {
  background-color: #8a6de9; 
}

.barRoundedTop {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}