/* Empty. Add your own CSS if you like */

/*
Icon list:

ion-arrow-right-b
ion-flag
ion-heart
ion-settings
ion-document-text
ion-map
ion-pie-graph
ion-aperture
ion-iphone
ion-code
ion-bug
ion-game-controller-b
ion-videocamera
ion-music-note
ion-cash
ion-trophy
ion-university
ion-beaker
ion-lightbulb
ion-no-smoking
*/

.goalIcon {
  position: absolute; 
  top: 0px; 
  font-size: 40px; 
  text-align: center; 
  background-color: #fff;
}

.checkTodayButton {
	min-width: 80px; 
	min-height: 80px; 
	border-radius: 40px;
}

.currentMonth {
	color: #000;
}

.notCurrentMonth {
	color: #ddd;
}

.goalFlipper {
  position: absolute;
  min-height: 90%;
  min-width: 90%;
  top: 5%;
  left: 5%;

  transition: 1.0s;
  transform-style: preserve-3d;
}

.flipped {
  transform: rotateY(180deg);
}

.modal {
  perspective: 700px;
}

.goalFront, .goalBack {
  position: absolute;
  top: 0px;
  left: 0px;
  min-height: 100%;
  min-width: 100%;
  backface-visibility: hidden;
}

.goalFront {
  background-color: #fff;
  transform: rotateY(0deg);
}

.goalBack {
  background-color: #aaa;
  transform: rotateY(180deg);
}

.addItem {
  height: 70px;
  padding: 10px !important;
}

.popoverRow {
  height: 70px;
}

.popoverCol {
  text-align: center;
}

.popoverButton {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

