/* Empty. Add your own CSS if you like */

/*
Icon list:

ion-arrow-right-b
ion-flag
ion-heart
ion-settings
ion-document-text
ion-map
ion-pie-graph
ion-aperture
ion-iphone
ion-code
ion-bug
ion-game-controller-b
ion-videocamera
ion-music-note
ion-cash
ion-trophy
ion-university
ion-beaker
ion-lightbulb
ion-no-smoking
*/

.goalIcon {
  position: absolute; 
  top: 0px; 
  font-size: 40px; 
  text-align: center; 
  background-color: #fff;
}

.checkTodayButton {
	min-width: 80px; 
	min-height: 80px; 
	border-radius: 40px;
}

.activeMonth {
	color: #000;
}

.calendarDay {
  margin: 0 auto;
  max-width: 26px;
  min-width: 26px;
  min-height: 26px;
  text-align: center;
  line-height: 26px;
}

.startDayChain, .middleDayChain, .endDayChain, .singleDayChain {
  border-radius: 13px;
  position: relative;
  color: #fff;
}

.startDayChain:before {
  content: '';
  line-height: 0px;
  position: absolute;
  z-index: -1;
  top: 12px;
  left: 0px;
  width: 39px;
  height: 2px;
}

.middleDayChain:before {
  content: '';
  line-height: 0px;
  position: absolute;
  z-index: -1;
  top: 12px;
  left: -13px;
  width: 52px;
  height: 2px;
}

.endDayChain:before {
  content: '';
  line-height: 0px;
  position: absolute;
  z-index: -1;
  top: 12px;
  left: -13px;
  width: 39px;
  height: 2px;
  background-color: silver;
}

.singleDayChain:before {
  content: '';
  line-height: 0px;
  position: absolute;
  z-index: -1;
  top: 12px;
  left: 0px;
  width: 26px;
  height: 2px;
}

.goalFlipper {
  position: absolute;
  min-height: 90%;
  min-width: 90%;
  top: 5%;
  left: 5%;
  overflow: visible;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flipped {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.modal {
  -webkit-perspective: 1000;
  perspective: 1000;
}

.goalFront, .goalBack {
  position: absolute;
  top: 0px;
  left: 0px;
  min-height: 100%;
  min-width: 100%;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.goalFront {
  background-color: #fff;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  z-index: 2;
}

.goalBack {
  /* goalBack starts as front facing to allow browser to prerender div before flip animation */
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.addItem {
  height: 70px;
  padding: 10px !important;
}

.popoverRow {
  height: 70px;
}

.popoverCol {
  text-align: center;
}

.popoverButton {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.positive-before-bg:before {
  background-color: #4a87ee; 
}

.calm-before-bg:before {
  background-color: #43cee6; 
}

.assertive-before-bg:before {
  background-color: #ef4e3a; 
}

.balanced-before-bg:before {
  background-color: #66cc33; 
}

.energized-before-bg:before {
  background-color: #f0b840; 
}

.royal-before-bg:before {
  background-color: #8a6de9; 
}